*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:0;
    outline:0;
}

body,html{
    height: 100vh;
    overflow-x: hidden;
    background-color:#555;
    color: whitesmoke;
}

a:hover{ 
    color: #1f1f !important;
}

a:visited{ 
    color: #1ff;
}

.header{
    width: 100%;
    padding:20px;
    background-color:#000;
    color:#fff;
}

.header .title{
    text-align: center;
}

form {
    display:flex;
    padding:20px;
    justify-content:center;
}

.input_search{
    border:1px solid #ccc;
    padding:.8rem;
    color:#000
}

.button_submit{
    border:1px solid #ccc;
    padding:.8rem;
    color:#000
}

.content{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin: 20px 0;
    gap:20px;
    line-height: 1.5em;
    user-select: none;
}

.avatar_img{
    max-height: 200px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 20px 0;
}